.navbar{
    width: 85%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: goldenrod;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.location-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.location{
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    border: 3px solid goldenrod;
}
.location img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.location-content{
    padding: 16px; 
}
.location-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.location-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
    height: 100px;
    overflow: hidden;
}
.location-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: goldenrod;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
    transition: 0.3s ease ;
}
.btn:hover{
    background-color: gold;
}